* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
}

body {
    background-color: #2F2F2F;
    color: #2F2F2F;
}

main {
    background-color: mediumspringgreen;
    width: 500px;
    margin: auto;
    padding: 5px;
    border-radius: 10px;
    position: relative;
    top: 200px;
    transition: ease-out 1s;
}

main:hover {
    box-shadow: 3px 3px 5px 10px mediumspringgreen;
    transition: 500ms cubic-bezier(0.075, 0.82, 0.165, 2);
}